<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>countryName</param-name>
        <param-value>Viet Nam</param-value>
    </context-param>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>myServlet.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>myServlet.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>myServlet.searchServlet</servlet-class>
        <init-param>
            <param-name>language</param-name>
            <param-value>VietNamese</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>sendOTP</servlet-name>
        <servlet-class>myServlet.sendOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactServlet</servlet-name>
        <servlet-class>myServlet.contactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mainController</servlet-name>
        <servlet-class>myServlet.mainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>myServlet.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view</servlet-name>
        <servlet-class>myServlet.view</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCartServlet</servlet-name>
        <servlet-class>myServlet.addToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCartServlets</servlet-name>
        <servlet-class>myServlet.updateCartServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveShoppingCartServlet</servlet-name>
        <servlet-class>myServlet.saveShoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCartServlet</servlet-name>
        <servlet-class>myServlet.deleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeServlet</servlet-name>
        <servlet-class>myServlet.changeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProductServlet</servlet-name>
        <servlet-class>myServlet.viewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageAccountsServlet</servlet-name>
        <servlet-class>myServlet.manageAccountsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStatusAccountServlet</servlet-name>
        <servlet-class>myServlet.updateStatusAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchAccountServlet</servlet-name>
        <servlet-class>myServlet.searchAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageOrdersServlet</servlet-name>
        <servlet-class>myServlet.manageOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managePlantsServlet</servlet-name>
        <servlet-class>myServlet.managePlantsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageCategoriesServlet</servlet-name>
        <servlet-class>myServlet.manageCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createNewPlantServlet</servlet-name>
        <servlet-class>myServlet.createNewPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createNewCategoryServlet</servlet-name>
        <servlet-class>myServlet.createNewCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchByDateServlet</servlet-name>
        <servlet-class>myServlet.searchByDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelOrderServlet</servlet-name>
        <servlet-class>myServlet.cancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeStatusOrderServlet</servlet-name>
        <servlet-class>myServlet.changeStatusOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchByIDServlet</servlet-name>
        <servlet-class>myServlet.searchByIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePlantsServlet</servlet-name>
        <servlet-class>myServlet.updatePlantsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePlantssServlet</servlet-name>
        <servlet-class>myServlet.updatePlantssServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCateSerlet</servlet-name>
        <servlet-class>myServlet.updateCateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCatesServlet</servlet-name>
        <servlet-class>myServlet.updateCatesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendOTP</servlet-name>
        <url-pattern>/sendOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactServlet</servlet-name>
        <url-pattern>/contactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mainController</servlet-name>
        <url-pattern>/mainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartServlet</servlet-name>
        <url-pattern>/addToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCartServlets</servlet-name>
        <url-pattern>/updateCartServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveShoppingCartServlet</servlet-name>
        <url-pattern>/saveShoppingCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCartServlet</servlet-name>
        <url-pattern>/deleteCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeServlet</servlet-name>
        <url-pattern>/changeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProductServlet</servlet-name>
        <url-pattern>/viewProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageAccountsServlet</servlet-name>
        <url-pattern>/manageAccountsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStatusAccountServlet</servlet-name>
        <url-pattern>/updateStatusAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchAccountServlet</servlet-name>
        <url-pattern>/searchAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageOrdersServlet</servlet-name>
        <url-pattern>/manageOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managePlantsServlet</servlet-name>
        <url-pattern>/managePlantsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageCategoriesServlet</servlet-name>
        <url-pattern>/manageCategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createNewPlantServlet</servlet-name>
        <url-pattern>/createNewPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createNewCategoryServlet</servlet-name>
        <url-pattern>/createNewCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchByDateServlet</servlet-name>
        <url-pattern>/searchByDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelOrderServlet</servlet-name>
        <url-pattern>/cancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeStatusOrderServlet</servlet-name>
        <url-pattern>/changeStatusOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchByIDServlet</servlet-name>
        <url-pattern>/searchByIDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePlantsServlet</servlet-name>
        <url-pattern>/updatePlantsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePlantssServlet</servlet-name>
        <url-pattern>/updatePlantssServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCateSerlet</servlet-name>
        <url-pattern>/updateCateSerlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCatesServlet</servlet-name>
        <url-pattern>/updateCatesServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
